html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }


/* Global styles */
::selection { background: #f7f7f7; color: white; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6); }

::-moz-selection { background: #f7f7f7; color: white; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6); }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }

body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400;  -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;  color: white; }

img { max-width: 100%; height: auto; display: block; margin: 0 auto; }

body {
	background-color: #f7f7f7;
}

/* Typography styles */
/* Header */

/*Проверенный код */


.header {
 background-image:url(images/Hero-Background.png);
 width: 100%;
 height: 250px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center bottom;
}
.headerPic img {
  width: 160px;
  height: auto;
}

.headerTextPageOne {
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.headerTextPageTwo {
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.bold {
  font-weight: 800;
  height: 357px;
}


/*Глобальный слайдер */

.bigSlider {
    width: 1200px;
    height: 418px;
/*	border: 3px solid blue;*/
    margin: auto;
    position: relative;
    overflow: hidden; 
}

/*Конец глобального слайдера */

/*Кнопка-стрелка впреред*/
.btnNext {
	position: absolute;	
	right: 0px;
	top: 175px; 
}

.btnNext>img {
	width: 50px;
}
/*Конец кнопка стрелка вперед*/

/*Кнопка-стрелка назад*/
.btn {
   position: absolute;
   margin-top: 113px;
   margin-left: 80px;
   cursor: pointer;
/*  left: 200px;*/
}

.btn img {
 height: 53px; 
}

 /*Конец Кнопка-стрелка назад*/

/*Слайдер выбора настроений */
.sliders {
	width: 1200px;
	background: #f7f7f7;
	height: 406px;
	margin: auto;
	margin-top: 20px;
	position: absolute;
}

.slider {
	position: absolute;
	background: white;
	width: 196px;
	height: 398px;
	top: -101px;
}

.border {
	border: 4px solid #44c4ba;
	border-radius: 10px;
	width: 196px;
	position: relative;
	overflow: hidden;
}

.inactive {
	height: 196px;
	top: 101px; /*taking border inti account*/
}

.active {
	height: 398px;
	top: 0px;
}

.borderDow {
	position: absolute;
	margin-left: 84px;
}

.borderPod {
	position: absolute;
	margin-left: 373px;
}

.borderMood {
	position: absolute;
	margin-left: 642px; 
}

.borderWish {
	margin-left: 921px;
}

.icon {
	margin-top: 50px;
	position: absolute;
	height: 98px;
	width: 196px;
}

.btnUp, .btnDown {
	position: absolute;
	left: 78px;
	z-index: 50;
}

.btnUp {
	top: 11px;
}

.btnDown {
	bottom: 15px;
}

/*fonts*/
h2, h3, p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon>h2 {
	/*height: 17px;*/
	font-size: 25px;
	font-weight: 800;
	color: #ec008c;
	text-align: center;
	line-height: 18px;
	margin-top: 40px;
}

.icon>h3 {
	/*height: 11px;*/
	font-size: 11px;
	font-weight: 800;
	color: #ec008c;
	text-align: center;
	margin-top: 5px;
	/*margin-bottom: 15px;*/
}

.icon>img {
	height: 72px;
	display: block;
	margin: auto;	
}

/*Общая обвертка для страницы результатв*/
.wrapForResult{
  	width: 1200px;
  	height: 406px;
    margin: auto;
    margin-top: 60px;
    position: relative;
}
/*Конец общей обвертки*/

/*Обвертка для трех костеров-настроения-результаты*/
.resultBar {
    width: 869px;
	height: 357px;
    position: absolute;
    margin: auto;
  	/*top: 70px;*/
  	left: 165px;
}

/*Конец Обвертка для трех костеров-настроения-результаты*/

/*Стили для внутренних костеров*/
.resultIcon {
	width: 263px;
	height: 357px;
/*    background-color: darkgrey;*/
    position: absolute;
    z-index: 900;
}

.resultIconPic {
	width: 263px;
	height: 226px;
	background-color: white;
/*	border: 4px solid white;*/
	box-shadow: rgb(201, 201, 201) 4px 4px;			
	border-radius: 10px;
    margin-top: 20px;
/*    position: absolute;*/
/*    right: 30px;*/
}

.picResult>img {
	display: block;
	margin: auto;
    padding-top: 30px;
}


.textResult {
	border: 4px solid #74dbd3;
	background-color: #74dbd3; 
	box-shadow: #f7f7f7 5px 5px;	
	width: 263px;
	height: 226px;	
	border-radius: 10px;
	position: absolute;
	z-index: 100;
}

.longText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
	font-weight: 400;
	color: white;
	text-align: center;
    padding: 10px;
	margin-top: 35px;
	margin-bottom: 5px;
}

.text {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #44c4ba;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
}
.blockName {
	 width: 263px;
	 height: 56px;
}
.links a {
   	display: inline-block;
}

.links {
	margin: auto;
	width: 68px;
	position: absolute;
	top: 180px;
	left: 93px;
}
.nonActive {
	display: none;
}

.goRight3 {
	margin-left: 606px;
}

.goRight2 {
	margin-left: 303px; 
}

.goRight1 {
	margin-left: 0px; 
}

/*Конец стилей внутренних костеров*/




/*
.temp {
	display: none;
}*/